<div class="row comments">
    <div class="comment-section">
        <a href="" class="user-link">
            <img src="/img/user-1.jpg" alt="user-image">
            <span class="user-names">Beni Kabona</span>
        </a>
        <small class="posted_at right">One minute ago</small>
        <br>
        <span class="comment-content">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aliquid amet, beatae deserunt
            facilis fuga fugit, libero molestiae officiis reiciendis rem soluta? Aliquid fugiat id illum nemo,
            nostrum quam veniam!
        </span>
        <!--<ul class="right-align">-->
            <!--<li>-->
                <!--<a href="">-->
                    <!--<i class="material-icons">mode_edit</i>-->
                <!--</a>-->
            <!--</li>-->
            <!--<li>-->
                <!--<a href="">-->
                    <!--<i class="material-icons">delete</i>-->
                <!--</a>-->
            <!--</li>-->
        <!--</ul>-->
    </div>
    <div class="comment-section">
        <a href="" class="user-link">
            <img src="/img/user-2.jpg" alt="user-image">
            <span class="user-names">Beni Kabona</span>
        </a>
        <small class="posted_at right">One minute ago</small>
        <br>
        <span class="comment-content justify-align">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aliquid amet, beatae deserunt
            facilis fuga fugit, libero molestiae officiis reiciendis rem soluta? Aliquid fugiat id illum nemo,
            nostrum quam veniam!
        </span>
        <ul class="right-align">
            <li>
                <a href="">
                    <i class="material-icons">mode_edit</i>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="material-icons">delete</i>
                </a>
            </li>
        </ul>
    </div>
    <comments-input></comments-input>
</div>