<div class="row messages">
    <div class="container">
        <div class="col s12">
            <div class="card">
                <div class="row">
                    <div class="col l4 m4 s12 contacts">
                        <div class="row">
                            <div class="input-field col l10 m10 s10 push-l1 push-m1 push-s1 search">
                                <input placeholder="&#xf4a4;" id="search" type="text">
                            </div>
                        </div>
                        <div class="row contacts-content">
                            <ul>
                                <li class="active-message">
                                    <a href="">
                                        <img src="/img/user-1.jpg" alt="">
                                        <span class="user-names">Lizzy Keen</span>
                                    </a>
                                    <a href="">
                                        <span class="time_ago right">a hour ago</span>
                                        <span class="message-preview">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt...</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <img src="/img/user-1.jpg" alt="">
                                        <span class="user-names">Lizzy Keen</span>
                                    </a>
                                    <a href="">
                                        <span class="time_ago right">a hour ago</span>
                                        <span class="message-preview">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt...</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <img src="/img/user-1.jpg" alt="">
                                        <span class="user-names">Lizzy Keen</span>
                                    </a>
                                    <a href="">
                                        <span class="time_ago right">a hour ago</span>
                                        <span class="message-preview">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt...</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <img src="/img/user-1.jpg" alt="">
                                        <span class="user-names">Lizzy Keen</span>
                                    </a>
                                    <a href="">
                                        <span class="time_ago right">a hour ago</span>
                                        <span class="message-preview">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt...</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col l8 m8 s12 messages-list-container">
                        <div class="row display-message">
                            <div class="message-title">
                                Beni Kabona
                                <p class="lign"></p>
                            </div>
                            <div class="row display-message-container">
                                <div class="row">
                                    <div class="left">
                                        <img src="/img/user-1.jpg" alt="">
                                        <div class="left-message-content">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus dolore, ex ipsa reprehenderit temporibus facere ea. Omnis quo veritatis, ipsa. Veniam, excepturi nisi nam consequatur earum, repellat voluptatum ducimus doloribus.
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="right">
                                        <div class="right-message-content">
                                            Lorem ipsum dolor sit amet.
                                        </div>
                                        <img src="/img/user-default.png" alt="">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="right">
                                        <div class="right-message-content">
                                            Lorem ipsum dolor sit amet.
                                        </div>
                                        <img src="/img/user-1.jpg" alt="">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="left">
                                        <img src="/img/user-default.png" alt="">
                                        <div class="left-message-content">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis quo veritatis, ipsa. Veniam, excepturi nisi nam consequatur earum.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="input-field row new_message_container">
                                <textarea placeholder="Your message" id="new_message" class="materialize-textarea new_message"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>