.messages{
    margin-top: 35px !important;
}

.messages .card{
    margin: 0px !important;
    padding: 0px !important;
    box-shadow: none !important;
    border: 0.5px solid #E0E0E0;
    background: #FEFEFE;
    margin-bottom: 20px;
    /*height: 682px;*/
}

.messages .card .search-row{
    padding-left: 10px !important;
    padding-right: 17px !important;
}

.messages .card .search-row .new-conversation{
    padding-top: 18px !important;
}

.messages .card .search-row .new-conversation a{
    text-decoration: none;
    color: #908E8E;
}


.messages .contacts{
    height: 680px;
    padding-left: 0px !important;
    padding-right: 0px !important;
    background: #F9F9F9 !important;
    padding-top: 15px;
}

.messages .contacts .search input{
    outline: none;
    border: none;
    box-shadow: none;
    font-size: 13px;
    border: 2px solid #e5e7e9;
    background: #f2f4f4;
    border-radius: 0px;
    margin: 0px !important;
    height: 32px;
    text-indent: 10px;
    font-family:"Oxygen", Ionicons;
    margin-bottom: 10px !important;
}

.messages .contacts .contacts-content{
    padding-left: 0px;
    padding-right: 0px;
    overflow: scroll;
    height: 605px;
    overflow-x:hidden !important;
}

.messages .contacts .contacts-content ul li{
    position: relative;
    padding-left: 11% !important;
    padding-right: 11% !important;
    padding-top: 15px;
    padding-bottom: 11px;
}

.messages .contacts .contacts-content ul li.active-message{
    background: #EFF3F6 !important;
    border-left: 2px solid #7BBDEF !important;
}

.messages .contacts .contacts-content ul li:hover{
    background: #EFF3F6 !important;
    border-left: 2px solid #7BBDEF !important;
}

.messages .contacts .contacts-content ul li a{
    text-decoration: none;
    width: 100%;
    
}

.messages .contacts .contacts-content ul li a img{
    width: 60px;
    height: 60px;
    border-radius: 100%;
}

.messages .contacts .contacts-content ul li a span.user-names{
    text-decoration: none;
    color: #838282;
    padding-left: 20px;
    position: absolute;
    left: 100px;
    display: inline;
    top: 13px;
    font-weight: bold;
}

.messages .contacts .contacts-content ul li a span.time_ago{
    text-decoration: none;
    color: #838282;
    font-size: 12px;
    opacity: 0.7;
}

.messages .contacts .contacts-content ul li a .message-preview{
    text-decoration: none;
    color: #838282;
    padding-left: 20px;
    position: absolute;
    left: 100px;
    top: 36px;
    font-size: 12.5px;
    margin-right: 11%;
}

.messages .listing-messages-container{
    padding-left: 0px !important;
    padding-right: 0px !important;
    height: 680px;
}


.messages .listing-messages-container .card{
    height: 680px;
    border-right: none;
    border-top: none;
    border-bottom: none;
    overflow: hidden !important;
}

.messages .listing-messages-container .card .card-content{
    height: 520px !important;
    /*background: #F7F7F7;*/
    position: relative;
    padding: 25px 35px !important;
    overflow: scroll;
    overflow-x:hidden !important;
}


.messages .listing-messages-container .left {
    margin-bottom: 20px;
}

.messages .listing-messages-container .left small {
    padding-top: 10px;
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;

}

.messages .listing-messages-container .left img{
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin-top: 10px;
}

.messages .listing-messages-container .left-message-content{
    /*background: #F6F6F7;*/
    padding: 13px 20px;
    margin-left: 50px;
    margin-top: 0px;
    border-radius: 0px;
    background: #EFF3F6;
}


.messages .listing-messages-container .right{
    position: relative;
    margin-bottom: 20px;
}

.messages .listing-messages-container .right img{
    position: absolute;
    top: 0px;
    margin-top: 10px;
    right: 0px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

.messages .listing-messages-container .right small {
    padding-top: 10px;
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
}

.messages .listing-messages-container .right-message-content{
    background: #F6F6F7;
    padding: 13px 20px;
    margin-right: 50px;
    border-radius: 0px;
}

.messages .listing-messages-container .card .card-action{

}


.messages .listing-messages-container .card .card-action textarea{
    height: 100px !important;
    box-shadow: none;
    outline: none;
    border: none;
    resize: none;
    opacity: 0.8;
}

.messages .listing-messages-container .card .card-action .row{
    /*border: 1px solid #000000;*/
}

.messages .listing-messages-container .card .card-action button{
    background: transparent;
    border: none;
    padding: 0px !important;

}

.messages .listing-messages-container .card .card-action button i{
    font-size: 19px;
    margin-top: 10px;
    opacity: 0.6;
    margin-right: 10px !important;
}



::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 0px;
}

::-webkit-scrollbar-thumb {
    border-radius: 0px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}