.messages{
    margin-top: 35px !important;
}

.messages .card{
    padding: 0px !important;
    box-shadow: none !important;
    border: 0.5px solid #E0E0E0;
    background: #FEFEFE;
    margin-bottom: 20px;
}

.messages .contacts{
    height: 680px;
    padding-left: 0px !important;
    padding-right: 0px !important;
    background: #F9F9F9 !important;
    padding-top: 15px;
}

.messages .contacts .search input{
    outline: none;
    border: none;
    box-shadow: none;
    font-size: 13x;
    border: 2px solid #e5e7e9;
    background: #f2f4f4;
    border-radius: 5px;
    margin: 0px !important;
    height: 32px;
    text-indent: 10px;
    font-family:"Oxygen", Ionicons;
    margin-bottom: 10px !important;
}

.messages .contacts .contacts-content{
    padding-left: 0px;
    padding-right: 0px;
    overflow: hidden;
}

.messages .contacts .contacts-content ul li{
    position: relative;
    padding-left: 11% !important;
    padding-right: 11% !important;
    padding-top: 15px;
    padding-bottom: 11px;
}

.messages .contacts .contacts-content ul li.active-message{
    background: #EFF3F6 !important;
    border-left: 2px solid #7BBDEF !important;
}
.messages .contacts .contacts-content ul li a{
    text-decoration: none;
    width: 100%;
    
}

.messages .contacts .contacts-content ul li a img{
    width: 60px;
    height: 60px;
    border-radius: 100%;
}

.messages .contacts .contacts-content ul li a span.user-names{
    text-decoration: none;
    color: #838282;
    padding-left: 20px;
    position: absolute;
    left: 100px;
    display: inline;
    top: 13px;
}

.messages .contacts .contacts-content ul li a span.time_ago{
    text-decoration: none;
    color: #838282;
    font-size: 12px;
    opacity: 0.7;
}

.messages .contacts .contacts-content ul li a .message-preview{
    text-decoration: none;
    color: #838282;
    padding-left: 20px;
    position: absolute;
    left: 100px;
    top: 36px;
    font-size: 12.5px;
    margin-right: 11%;
}

.messages .messages-list-container{
    padding-top: 25px;
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
}

.messages .display-message{
    position: relative;
    height: 680px;
    padding-top: 17px;
}

.messages .display-message .message-title{
    padding-left: 5% !important;
}

.messages .display-message .new_message_container{
    position: absolute;
    bottom: 0px !important;
    width: 100%;
    padding-right: 50px;
}
.messages .display-message .new_message{
    outline: none;
    border: none;
    box-shadow: none;
    font-size: 13px;
    border: none !important;
    background: #f2f4f4;
    border-radius: 0px;
    margin: 0px !important;
    height: 80px !important;
    padding-left: 0px !important;
    font-family:"Oxygen", Ionicons;
    height: 90px;
    padding-top: 20px;
}

.messages .display-message .new_message textarea{
    outline: none;
    border: none;
    box-shadow: none;
    font-size: 13px;
    border: none !important;
    background: #f2f4f4;
    border-radius: 0px;
    margin: 0px !important;
    height: 80px !important;
    padding-left: 0px !important;
    font-family:"Oxygen", Ionicons;
    height: 90px;
    padding-top: 20px;
}

.messages .display-message .lign{
    border-top: 2px solid #838282;
    width: 30px;
    margin-top: 15px;
    margin-bottom: 25px;
    opacity: 0.5;
}

.messages .display-message .display-message-container{
    padding-right: 25px;
    text-align: justify;
    padding-top: 30px;
    padding-left: 5% !important;
    padding-right: 5% !important;
}

.messages .display-message .display-message-container img{
    height: 40px;
    width: 40px;
    border-radius: 100px;
    
}

.messages .display-message .display-message-container .left {
    margin-bottom: 10px;
}

.messages .display-message .display-message-container .left img{
    position: absolute;
}

.messages .display-message .display-message-container .left-message-content{
    background: #F6F6F7;
    padding: 20px 20px;
    margin-left: 50px;
    margin-top: 0px;
    border-radius: 5px;
}

.messages .display-message .display-message-container .right{
    position: relative;
    margin-bottom: 20px;
}

.messages .display-message .display-message-container .right img{
    position: absolute;
    top: 0px;
    margin-top: 15px;
    right: 0px;
}

.messages .display-message .display-message-container .right-message-content{
    background: #F6F6F7;
    padding: 20px 20px;
    margin-right: 50px;
    margin-top: 15px;
    border-radius: 5px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #838282;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #838282;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #838282;
}
:-moz-placeholder { /* Firefox 18- */
  color: #838282;
}