<div class="details">
    <div class="card">
        <div class="card-image">
            <img src="/img/user-1.jpg" alt="user-image">
        </div>
        <div class="card-content">
            <p>
                <span class="user-names">Beni Kabona</span><br>
                <span class="user-title">Web</span>
            </p>

            <p>is tempore quibusdam architecto, distinctio eum magni a cumque quaerat ullam nam doloremque earum eveniet modi, nobis adipisci fugit. Optio, in!</p>
        </div>
    </div>
</div>