input{
    border: 2px solid #E0E0E0 !important;
    outline: none !important;
    margin-top: 0px;
    margin-bottom: 0px !important;
    font-size: 13px;
    padding-bottom: 0px !important;
    background: #F2F2F2;
    text-indent: 15px;
    border-radius: 0px;
    outline: none !important;
    box-shadow: none !important;
    height: 37px;
    margin-top: 10px;
}





.search::-webkit-input-placeholder {
    color: #8D8B8B;
}

.search:-moz-placeholder { /* Firefox 18- */
    color: #8D8B8B;
}

.search::-moz-placeholder {  /* Firefox 19+ */
    color: #8D8B8B;
}

.search:-ms-input-placeholder {
    color: #8D8B8B;
}